---
---

<div class="w-64 min-w-[16rem] h-full shadow">
  <div class="my-2 ml-4 text-2xl">Project Name</div>
  <ul class="m-2 overflow-scroll">
    <li>
      <a
        class="flex flex-col align-middle justify-center m-2 bg-zinc-100 hover:bg-zinc-100 px-4 py-2 rounded"
        href="#"
      >
        <div>Kanban</div>
      </a>
    </li>
    <li>
      <a
        class="flex flex-col align-middle justify-center m-2 hover:bg-zinc-100 px-4 py-2 rounded"
        href="#"
      >
        <div>Test</div>
      </a>
    </li>
  </ul>
</div>
