---
---

<div class="sidebar shadow">
	<div class="project-info">Project Name</div>
	<ul class="links">
		<li class="link">
			<a href="#">
				<div>Kanban</div>
			</a>
		</li>
		<li class="link">
			<a href="#">
				<div>Test</div>
			</a>
		</li>
	</ul>
</div>
