---
import Layout from "../../layouts/Layout.astro";
import Sidebar from "../../components/projects/Sidebar.astro";
import Kanban from "../../components/projects/Kanban.astro";
---

<Layout>
	<div class="project-container">
		<Sidebar />
		<Kanban />
	</div>
</Layout>
