---
import LayoutContainer from "../../layouts/LayoutContainer.astro";
import Project from "../../db/models/projects.js";
let projects = (await Project.findAll()).map((project: typeof Project) => project.dataValues);
---

<LayoutContainer>
	<div class="page-title">Projects</div>
	<ul class="project-list">
		{
			projects.map((project: any, index: number) => (
				<li class="project" style={index == 0 ? "border-top: none;" : ""}>
					<a href={"/projects/" + project.uuid}>
						<div class="project-wrapper">
							<div class="project-image">
								<img src="/svg/projects/project.svg" alt={project.name} />
							</div>
							<div class="project-info">
								<div>{project.name}</div>
							</div>
						</div>
					</a>
				</li>
			))
		}
	</ul>
</LayoutContainer>
