---
---

<header class="w-full h-16 min-h-[4rem] bg-white shadow flex flex-row text-zinc-800 relative z-50">
	<div class="h-full text-5xl flex justify-center align-middle flex-col ml-2 font-medium">
		<a href="/" class="">
			<div>
				To<span class="text-zinc-600">do</span>
			</div>
		</a>
	</div>
	<div class="flex flex-row ml-4 gap-2 text-lg flex-grow">
		<a href="/projects" class="flex justify-center align-middle flex-col h-full">
			<div class="hover:bg-zinc-100 px-4 py-2 rounded">Projects</div>
		</a>
		<a href="#" class="flex justify-center align-middle flex-col h-full">
			<div class="hover:bg-zinc-100 px-4 py-2 rounded">Other</div>
		</a>
	</div>
	<div class="h-full flex justify-center align-middle flex-col mr-4">Username</div>
</header>
