---
---

<header id="header" class="shadow">
	<div class="logo">
		<a href="/">
			<div>
				To<span>do</span>
			</div>
		</a>
	</div>
	<div class="links">
		<a href="/projects" class="link">
			<div>Projects</div>
		</a>
		<a href="#" class="link">
			<div>Other</div>
		</a>
	</div>
	<div class="userprofile">
		<a href="#" class="link">
			<div>Username</div>
		</a>
	</div>
</header>
